# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menuconfig PINCTRL_SA6920
	bool "Pin controller driver for SA6920 MCUs"
	default y
	help
	  Enable pin controller driver for SA6920 MCUs


