# Copyright (c) 2018-2025 SuperACME Electronics Corporation Holding Limited
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_SA6920

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 24000000

rsource "Kconfig.defconfig.*"

endif # SOC_SERIES_SA6920
